apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubescope-frontend
  namespace: kubescope-dashboard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubescope-frontend
  template:
    metadata:
      labels:
        app: kubescope-frontend
    spec:
      containers:
        - name: frontend
          image: tonyq2k3/kubescope-frontend:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
          - containerPort: 80
          resources:
            requests:
              cpu: "300m"
              memory: "500Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"