@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply h-screen w-screen bg-gray-950 text-gray-100;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}