apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubescope-clusterrole
rules:
- apiGroups: [""]
  resources:
  - pods
  - namespaces
  - services
  - nodes
  - configmaps
  - secrets
  - events
  - persistentvolumes
  - persistentvolumeclaims
  verbs: ["get", "watch", "list", "create", "delete", "update", "patch"]

- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  - daemonsets
  - replicasets
  verbs: ["get", "watch", "list", "create", "delete", "update", "patch"]

- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs: ["get", "watch", "list", "create", "delete", "update", "patch"]